{% extends "base.html" %}
{% block title %}마이페이지 - WONE Recruit{% endblock %}
{% block content %}
<div class="page-header"><h2>계정 정보</h2></div>

<table class="table">
    <tbody>
        <tr><th scope="row">이름</th><td>{{ account['name'] if account else user_name }}</td></tr>
        <tr><th scope="row">아이디</th><td>{{ account['username'] if account else '-' }}</td></tr>
        {% if account and account['email'] %}
        <tr><th scope="row">이메일</th><td>{{ account['email'] }}</td></tr>
        {% endif %}
        {% if account and account['phone'] %}
        <tr><th scope="row">연락처</th><td>{{ account['phone'] }}</td></tr>
        {% endif %}
    </tbody>
</table>

<p class="mt-3">
    <a href="/account/password">비밀번호 변경</a>
    &middot;
    <a href="/account/withdraw" class="text-muted">회원탈퇴</a>
</p>
{% endblock %}
